.inicio-post {
    background-color: white;
    color:black;
    position: absolute;
    top: 3em;
    right: 3em;
    height: 4em;
    padding: 1em;
    margin-left: 15em;
    font-size: 1.3em;
    border-radius: 20px 20px;
    display: none;
}

.link-blog:hover + .inicio-post {
    display: block;
}

.inicio-post2 {
    background-color: white;
    color:black;
    position: absolute;
    top: 5em;
    right: 3em;
    height: 4em;
    padding: 1em;
    margin-left: 15em;
    font-size: 1.3em;
    border-radius: 20px 20px;
    display: none;

}

.link-blog2:hover + .inicio-post2 {
    display: block;
}
.inicio-post3 {
    background-color: white;
    color:black;
    position: absolute;
    top: 7em;
    right: 3em;
    height: 4em;
    padding: 1em;
    margin-left: 15em;
    font-size: 1.3em;
    border-radius: 20px 20px;
    display: none;

}

.link-blog3:hover + .inicio-post3 {
    display: block;
}

.foto-home {
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 1em black;
}
.saudacao p {
    color: #99A;
    line-height: 1;
    font-size: 1.5rem;
    margin-top: 7rem;
    margin-left: 7rem;
    margin-bottom: 2rem;
}
.saudacao-inicio {
    color: #889;
    font-size: 4.5rem;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
    font-size: 1.5rem;
    margin-right: 7rem;
    margin-bottom: 5rem;
}
.saudacao strong {
    color: #000;
    font-size: 3.5rem;
}
.saudacao em {
    color: #851944;
    font-size: 5rem;
    display: inline-block;
    transform: rotate(-5deg) skew(-10deg);
    
}
.botao-index {
    background-color: #851944;
    color: #FFF;
    border: .2em solid black;
    width: 400px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    margin-bottom: 4rem;
    box-shadow: 0 0 1em black, inset 0 0 .5em white;
}

.botao-index:hover,
.botao-index:focus {
    box-shadow: 0 0 1em #FA9;
    color: white;
    background-color: #C54974;
    text-decoration:none;
    transition: box-shadow .5s, color .5s, background-color .5s;
}
.secao-inicio h2 {
    text-transform: uppercase;
    text-shadow: 5px 5px black;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: .5rem solid #000;
    border-bottom: .5rem solid #000;
    background-image: linear-gradient(135deg, transparent, transparent 14px, rgba(0,0,0,.1) 14px, rgba(0,0,0.1) 15px, transparent 15px, transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
}
.trabalhos h2 {
    color: #FFF;
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;

}
.trabalhos ul {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3rem;
    display: flex;

}

.conjunto-de-imagens li:first-child {
    order: 2;
    transform: scale(1.2);
}

.conjunto-de-imagens li:nth-child(2) {
    order:1;
}

.conjunto-de-imagens li:last-child {
    order:3;
}

.trabalhos li {
    flex: 1px;
    border: .5rem solid black;

}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: .5rem solid #851944;
    position: relative;
    background-image: linear-gradient(45deg, transparent, transparent 14px, rgba(255, 255, 255, 0.1) 14px, rgba(255, 255, 255, 0.1) 15px, transparent 15px, transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
}
.blog h2 {
    font-size: 2.5rem;
    padding-top: 2rem;
    margin-left: 1.5rem;

}

.blog small {
    margin-left: 1.5rem;
}
.blog li a {
    color: #FCF;
}

.blog li a:hover {
    color: red;
}

.blog ol{
margin-top: 2rem;
margin-bottom: 3rem;
margin-left: 1.5rem;
}

.link-blog {
    margin-bottom: 5rem;
    padding: .5em;
    padding-right: 10em;
    border-radius: 5px 0px 0px 5px;
}

.link-blog:hover {
    background-color: white;
}


.link-blog2 {
    padding: .5em;
    padding-right: 10em;
    border-radius: 5px 0px 0px 5px;


}

.link-blog2:hover {
    background-color: white;
}

.link-blog3 {
    padding: .5em;
    padding-right: 12.5em;
    border-radius: 5px 0px 0px 5px;


}

.link-blog3:hover {
    background-color: white;
}
footer {
    background-color: #000;
    color: #FFF;
}
footer a {
    color: #F99;
}

footer h2 {
    font-size: 2.5rem;
    padding-top: 2rem;
    margin-left: 1.5rem;
}

footer p {
    padding-bottom: 2rem;
    margin-left: 1.5rem;

}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}

.palavra-home {
    font-family: "Shadows Into Light";
    font-weight: bold;
    color: rgba(255, 127, 127, 0.5);
    font-size: 400%;
    animation: aparece 2s;
}

@keyframes aparece {
    0% {
        opacity: 0;
        transform: scale(0.0001);
        }
                    }


.eficiencia {
    position: absolute;
    top: 50%;
    left: 58%;
    -webkit-transform: rotate(-10deg);
    transform: translate(-50%,-50%) rotate(-10deg) translateZ(3px) scale(0.23);
    
    
}

.boas-praticas {
    position: absolute;
    top: 77%;
    left: 20%;
    opacity: .3;
    -webkit-transform: rotate(10deg);
    transform: translate(-50%,-50%) rotate(10deg) translateZ(1px) scale(0.25);
}

.codigo-limpo {
    position: absolute;
    top: 48%;
    left: 30%;
    opacity: .65;
    -webkit-transform: rotate(-10deg);
    transform: translate(-50%,-50%) rotate(-10deg) translateZ(2px) scale(0.25);
}
.css3 {
    position: absolute;
    top: 55%;
    left: 40%;
    opacity: .6;
    -webkit-transform: rotate(10deg);
    transform: translate(-50%,-50%) rotate(10deg) translateZ(2px) scale(0.25);
}
.html5 {
    position: absolute;
    top: 38%;
    left: 62%;

    transform: translate(-50%,-50%) rotate(10deg) translateZ(2px) scale(0.25);
}
.javascript {
    position: absolute;
    top: 18%;
    left: 60%;
    opacity: .3;
    -webkit-transform: rotate(-10deg);
    transform: translate(-50%,-50%) rotate(-10deg) translateZ(1px) scale(0.25);
}
.acessibilidade {
    position: absolute;
    top: 42%;
    left: 41%;
    opacity: .8;
    -webkit-transform: rotate(-10deg);
    transform: translate(-50%,-50%) rotate(-10deg) translateZ(3px) scale(0.22);
}
.responsivo {
    position: absolute;
    top: 46.5%;
    left: 45.5%;
    opacity: .75;
    -webkit-transform: rotate(10deg);
    transform: translate(-50%,-50%) rotate(10deg) translateZ(3px) scale(0.18);
}
.otimizacoes {
    position: absolute;
    top: 67%;
    left: 60%;
    -webkit-transform: rotate(-10deg);
    transform: translate(-50%,-50%) rotate(-10deg) translateZ(2px) scale(0.25);
}
.agilidade {
    position: absolute;
    top: 75%;
    left: 35%;
    opacity: .3;
    -webkit-transform: rotate(10deg);
    transform: translate(-50%,-50%) rotate(10deg) translateZ(1px) scale(0.25);
}
.design {
    position: absolute;
    top: 45%;
    left: 56%;
    opacity: .7;
    -webkit-transform: rotate(10deg);
    transform: translate(-50%,-50%) rotate(10deg) translateZ(2px) scale(0.25);
}

header {
    position: relative;
}

.link-no-topo {
    background-color: #3C1D3D;
    font-size: 1.5em;
    width: 13em;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    padding: .3em;
    border: .2em solid black;
    position: absolute;
    top: 15%;
    right:-7.5%;
    transform: rotate(45deg);
    animation: aparece .5s;
    animation-delay: 2s;
    animation-fill-mode: backwards;

}

.link-twitter {
    color: white;
}

.lista-de-palavras {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    line-height: 1.5;
    height: 100%;
    overflow-x: hidden;
    perspective: 4px;
    transform-style: preserve-3d;
    perspective-origin: 50% 26%;

}

.conjunto-link {
    margin-bottom: 1em;
}
.conjunto-link2 {
    margin-bottom: 1em;
}
.conjunto-link3 {
    margin-bottom: 1em;
}

.saudacao-ultima-linha em {
    animation: flutuar 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    position: relative;
}

@keyframes flutuar {
to {
    top:-5px;
} to {
    top: 5px;
}
}

.saudacao:hover em{
    animation-play-state: paused;
}
